/* variables */


/* defaults */

body{
    background-image: url("../images/desert.jpg");
    font-family:Arial, Helvetica, sans-serif;
}

img,
video{
    max-width: 100%;
}


/*header */

header{
    background-color: white;
    padding: 20px;
}

.header-text{
    color: Purple;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-size: 30px;
    text-align:center;
}

/*footer*/



/* sections */
section{
    border-width: 1px;
    border-color: green;
    border-style:solid;
    margin-bottom: 50px;
    padding: 20px;
}

.intro{
    background-color: pink;

}

.content{
    background-color: blueviolet;
}

.final{
    background-color: RGBA(255,92,92,0.5);
}

/*forms*/