
/* defaults */

body{
    background-color:black;
 font-family:Arial, Helvetica, sans-serif;
 color: white;
}

img,
video{
    max-width: 100%;
}


/*header */

header{
    background-color: black;
    color:white;
    padding: 40px;
}

.header-text{
    font-family: 'Arvo', serif;
    font-weight: bold;
    font-size: 50px;
    text-align:center;
}


/* sections */
section{
    border-width: 3px;
    border-color:white;
    border-style:solid;
    margin-bottom: 50px;
    padding: 20px;
}

.intro{
    background-color: black;
}

video{
    display: block;
margin:  auto;
border-width: 3px;
border-color:white;
border-style: solid;
padding: 5px;
}

img {
    display: block;
    margin:  auto;
    border-width: 3px;
    border-color:white;
    border-style: solid;
    padding:5px;
}


.content{
    background-color: black;

}

.final{
    background-color: black;
    text-align: center;
}

a{
    color:lightsalmon;
}

/*footer*/

footer{
    text-align: center;

}


@media screen and (max-width: 600px) {
    body{
        background-color:white;
        font-family:sans-serif,Helvetica,arial;
        color:black;
    }
    section{
        border-width: 3px;
        border-color:black;
        border-style:solid;
        margin-bottom: 50px;
        padding: 20px;
    }
    .intro{
        background-color:white;
    }
    
    header{
        background-color:white;
        color:black;
    }
    .content{
        background-color:white;
    
    }
    
    .final{
        background-color:white;
    
    }


}

/*forms*/

@media print{
    header{
        display: none;
    }
}